.container {
  margin-top: 30px;
}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: black;
  color: #f1f1f1;
  border-bottom: 1px solid transparent;
  border: 2px solid #fff;
}
button {
  border: none;
  width: auto;
}
.content {
  background: rgb(38, 38, 38);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}
